

<% let twitchUrl = "https://twitch.tv/videos/" + vod.id %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= vod.title %> </title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
        <script defer src="/scripts.js"></script>
    </head>    
    <body>
        <h1> <%= vod.title %> </h1>
        <h2> <%= subtitle %> </h2>
        <div> twitch vod <a href="<%= twitchUrl %>"> <%= twitchUrl %> </a> </div>
        <% 
            // console.log(transcript_json)
            console.log(vod)
        %>
                
        <!-- <% // for (let i=0; i < transcript_json.length; i++) { %> -->
        <% for (let segment of transcript_json) { 
            let sec = String(parseInt(segment.start) % 60).padStart(2,0); // -> 03
            let min = Math.floor(parseInt(segment.start) / 60)
            let timestamp = min + "m" + sec + "s";
        %>

            <div> 
                <span>
                        <% let start = Number(segment.start).toFixed(2) %>
                        <% let end = Number(segment.start).toFixed(2) %>
                    <a href="https://www.twitch.tv/videos/<%= vod.id%>?t=<%= timestamp%>">[<%= start %> →  <%= end %>]</a>
                </span>
                <span>
                    <%= segment.text %>
                </span>
            </div>
        <% } %>

    </body>
</html>

<!--  scrapped_data_s3 = 
scrapped_data_s3 = 
[
    {
      channel: 'lolgeranimo',
      id: '1861789415',
      link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1861789415/2v2v2v2_Pushing_Gladiator-v1861789415.mp3',
      title: '2v2v2v2_Pushing_Gladiator-v1861789415.mp3'
    },
    {
      channel: 'lolgeranimo',
      id: '1862390912',
      link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1862390912/Can_we_get_GrandMaster_before_the_end_of_the_Season-v1862390912.mp3',
      title: 'Can_we_get_GrandMaster_before_the_end_of_the_Season-v1862390912.mp3'
    },
    {
      channel: 'lolgeranimo',
      id: '1863373278',
      link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1863373278/Can_we_get_GrandMaster_before_the_end_of_the_Season-v1863373278.mp3',
      title: 'Can_we_get_GrandMaster_before_the_end_of_the_Season-v1863373278.mp3'
    },
    {
      channel: 'lolgeranimo',
      id: '1863728745',
      link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1863728745/Some_Grinding_to_GrandMaster_with_no_mic_atm_just_gaming-v1863728745.mp3',
      title: 'Some_Grinding_to_GrandMaster_with_no_mic_atm_just_gaming-v1863728745.mp3'
    }
  ]
-->
