<%- include("../server-scripts/utilities") %>
<% let twitchUrl = "https://twitch.tv/videos/" + vod.id %>

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <title> <%= channel %> </title>
        <link rel="stylesheet" type="text/css" href="/fonts.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/analysis.css">
        <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
        <script src="/scripts.js"></script>
    </head>    
    <body>
        <div class="d-flex">
            <img class="profile_main_pic" src="<%= profilePic %>">
            <h1 class="align-self-center">  Transcript Stats </h1>
        </div>
        <h2> <a href="/channel/<%= channel %>/<%= vod.id %>"><%= vod2.display_title %> </a> </h2>
        <h2><a href="/channel/<%= channel %>"> <%= channel %> </a></h2>
        <div> <b> <%= epochTo_MM_DD_YYYY(vod2.epoch) %> </b></div>
        <div> <b>Duration: <%= secondsToHHMM(Number(vod2.duration)) %> </b></div>
        <br/>
        <% 
        // let loser =  word_counter['loser']
        // let subhuman =  word_counter['subhuman']
        // let man =  word_counter['man']
        // let ego =  word_counter['ego']
        // let fucking =  word_counter['fucking']
        // let fuck =  word_counter['fuck']

        // console.log("loser=" loser)
        // console.log("subhuman=" subhuman)
        // console.log("man=" man)
        // console.log("ego=" ego)
        // console.log("fucking=" fucking)
        // console.log("fuck=" fuck)



         %>
        <div class="analysis_wordcloud_container">
            <div> <%- wordcloud %></div>
        </div>
        <h2> Frequency of Swear Words </h2>
        <div class="analysis_vertical_word">
            <div>
                <%- include('partials/table', {"table_data": bad_words_counter, txt: "Swear" }) %>
            </div>
            <div> <%- badWordPlot %></div>
        </div>

        <h2> Frequency of Words </h2>
        <div class="analysis_vertical_word">
            <div>
                <%- include('partials/table', {"table_data": word_counter, txt: "Word" }) %>
            </div>
            <div> <%- freqWordPlot %></div>
        </div>

        <script>
            let figure = document.querySelector("#word-count-graph")
            let rects = figure.querySelectorAll("rect")
            let tooltips = document.querySelectorAll("#word-count-graph [font-family='hacky-selector-text'] text")
            for (let i=0; i < rects.length; i++) {
                rects[i].addEventListener("mouseenter", (e) => {
                    tooltips[i].classList.add("on")
                    rects[i].classList.add("on")
                })
                rects[i].addEventListener("mouseleave", (e) => {
                    tooltips[i].classList.remove("on")
                    rects[i].classList.remove("on")
                })
            }
        </script>

    </body>
</html>
