<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
        <link rel="stylesheet" type="text/css" href="/channels.css">
        <script defer src="/scripts.js"></script>
    </head>    
    <body>
        <div class="d-flex">
            <img class="profile_main_pic" src="<%= profilePic %>">
            <h1 class="align-self-center"> <%= title %> </h1>
        </div>
        <h4> <a href="/"> view all channels </a> </h4>
        <hr/>
        <h3> Transcripts:</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>Title</th>
            </tr>   
            <% 
                // console.log("scrapped_data_s3")
                // console.log(scrapped_data_s3)
                // console.log("custom_metadata")
                // console.log(custom_metadata)
                let custom_metadata_array = []
                Object.keys(custom_metadata).forEach(key => {
                    // console.log(key, custom_metadata[key]);
                    custom_metadata_array.push(custom_metadata[key])
                });
                // newest at start
                custom_metadata_array.sort((a, b) => {
                    if (a.epoch == null) {
                        return 1
                    }
                    if (b.epoch == null) {
                        return -1
                    }
                    return a.epoch > b.epoch ? -1 : 1
                });
                for (let custom_md of custom_metadata_array) {
                    // console.log("-=-=-==--=-=-=-=---=-=-=-=-=-=-=-=-=-=-=")
                    // console.log("custom_md")
                    // console.log("custom_md.id=" + custom_md.id)
                    let channel         = custom_md.channel
                    let duration_string = custom_md.duration_string // '10:42:21'
                    let duration        = custom_md.duration // 38541
                    let display_title   = custom_md.display_title
                    let id              = custom_md.id
                    let thumbnail       = custom_md.thumbnail
                    let epoch           = custom_md.epoch // epoch = date of upload
                                                        // timestamp = date I ran my scraper
                    let link_s3         = scrapped_data_s3
                    let href            = path + "/" +  id 
                    let id_string = typeof id == "string" ? custom_md.id : custom_md.id.toString()
                    if ( !completedVods.includes(id_string)) {
                        console.log("NOPE NOT THIS ONE " + custom_md.id)
                        continue;
                    }
                    %>
                <tr>
                    <td><%= epochTo_MM_DD_YYYY(epoch) %></td>
                    <td class="channel__duration"><%= secondsToHHMM(Number(duration)) %></td>
                    <td><a href="<%= href %>"> <%= display_title %> </a></td>
                </tr>
                <% } %>
        </table>
    </body>
</html>

<%   
/*scrapped_data_s3 = 
scrapped_data_s3 = 
[
    {
        channel: 'lolgeranimo',
        id: '1861789415',
        link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1861789415/2v2v2v2_Pushing_Gladiator-v1861789415.mp3',
        title: '2v2v2v2_Pushing_Gladiator-v1861789415.mp3'
    },
    {
        channel: 'lolgeranimo',
        id: '1862390912',
        link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1862390912/Can_we_get_GrandMaster_before_the_end_of_the_Season-v1862390912.mp3',
        title: 'Can_we_get_GrandMaster_before_the_end_of_the_Season-v1862390912.mp3'
    },
    {
        channel: 'lolgeranimo',
        id: '1863373278',
        link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1863373278/Can_we_get_GrandMaster_before_the_end_of_the_Season-v1863373278.mp3',
        title: 'Can_we_get_GrandMaster_before_the_end_of_the_Season-v1863373278.mp3'
    },
    {
        channel: 'lolgeranimo',
        id: '1863728745',
        link_s3: 'https://my-bucket-bigger-stronger-faster-richer-than-your-sad-bucket.s3.amazonaws.com/channels/vod-audio/lolgeranimo/1863728745/Some_Grinding_to_GrandMaster_with_no_mic_atm_just_gaming-v1863728745.mp3',
        title: 'Some_Grinding_to_GrandMaster_with_no_mic_atm_just_gaming-v1863728745.mp3'
    }
  ]
*/
%>
