<% let title = "Big Dick Captions 😏" %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
        <script defer src="/scripts.js"></script>
    </head>
    <body class="homepage">
        <h1>Welcome to <%= title %>™ </h1>
        <h2> Captions available for these channels 🍆💦 : </h2>
        <div> <%= // JSON.stringify(overviewLight) %></div>
        <div>
            <% 
            overviewLight.sort((a,b) => parseInt(a.rownum) > parseInt(b.rownum) ? 1 : -1)
            for (let chann of overviewLight) {
                let name = chann.channel;
                let logo = chann.logo
                let path = chann.path
                let twitchurl = chann.twitchurl
                let rownum = chann.rownum
                let displayname = chann.displayname
                let linky = "channel/" + name 
                %>  
                <div class="channel_row img">
                    <a class="d-flex" href="<%= linky %>">
                        <img class="" src="<%= chann.logo %>" />
                        <h2> <%= name %>  </h2>
                    </a>
                    <!-- <span>Num vods: <%= chann.size %></span> -->
                </div>
            <% } %> 
        </div>
    </body>
</html>
