<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title> <%= channel.displayName %> wordtree </title>
        <%- include('partials/head_meta.ejs') %> 
        <link rel="stylesheet" type="text/css" href="/fonts.css">
        <link rel="stylesheet" type="text/css" href="/analysis.css">
    </head>    
    <body>
        <%- include('navbar/navbar.ejs') %> 
        <%- include('channelHeader.ejs', {"channel": channel, "isShowBack": true}) %>
        <%- include('vodHeader.ejs', {"vod": vod, "isShowRaw": false}) %>            

        <h1 class="align-self-center">  Transcript Stats </h1>

        <h3> <a href="/channel/<%= channel.nameId %>/<%= vod.id %>"> return to full transcript </a> </h3>

        <br/>

        <!-- BIG ASS WORDCLOUD SVG  -->
        <!-- BIG ASS WORDCLOUD SVG  -->
        <!-- BIG ASS WORDCLOUD SVG  -->
        <div class="analysis_wordcloud_container">
            <div> <%- wordcloud %></div>
        </div>


        <h2> Frequency of Swear Words </h2>
        <div class="d-flexx j-centerx">
            <div class="">
                <div>
                    <%- include('partials/table', {"table_data": bad_words_counter, txt: "Swear" }) %>
                </div>
                <div> <%- badWordPlot %></div>
            </div>
        </div>

        <h2> Frequency of Words </h2>
        <div class="d-flex j-center">
            <div class="">
                <div> <%- freqWordPlot %></div>
            </div>
        </div>

        <div>
            <%- include('partials/tableGrid.ejs', {"table_data": word_counter, txt: "Word" }) %>
        </div>
        <script>
            let figures = document.querySelectorAll("#word-count-graph")
            for (let i=0; i<figures.length; i++) {
                let rects = figures[i].querySelectorAll("rect")
                let tooltips =  figures[i].querySelectorAll("#word-count-graph [font-family='hacky-selector-text'] text")
                for (let i=0; i < rects.length; i++) {
                    rects[i].addEventListener("mouseenter", (e) => {
                        tooltips[i].classList.add("on")
                        rects[i].classList.add("on")
                    })
                    rects[i].addEventListener("mouseleave", (e) => {
                        tooltips[i].classList.remove("on")
                        rects[i].classList.remove("on")
                    })
                }
            }
        </script>

    </body>
</html>
