<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= channel.displayName %> wordtree </title>
        <%- include('partials/head_metaGPT.ejs') %> 
        <link rel="stylesheet" type="text/css" href="/fonts.css">
        <link rel="stylesheet" type="text/css" href="/analysisGPT.css">
    </head>    
    <body>
        <%- include('navbar/navbarGPT.ejs') %> 

        <!-- VOD HEADER -->
        <%- include('vodHeaderGPT.ejs', {"vod": vod, "channel": channel, "isBtnBackVod": true, "customClass": "vodheader__style1"}) %>

        <!-- OVERVIEW -->
        <section class="analytics-overview vodheader__style1">
            <div> 
                Total words spoken in broadcast: 
                <span class="highlight"> <%= localizeNumber(word_counter_txt_all)%></span>
            </div>
            <div> 
                Words per minute:
                <span class="highlight"><%= (word_counter_txt_all / (vod.duration / 60)).toFixed(2) %> </span>
            </div>
        </section>

        <!-- GRPAHS -->
        <main class="analytics-page">
            <!-- Word Cloud Section -->
            <section class="analytics-graphic-container">
                <h2>Word Cloud</h2>
                <div id="word-cloud-placeholder">
                    <%- wordcloud %>
                </div>
            </section>

            <br/>

            <!-- SWEAR Words Section -->
            <section  class="bar-container analytics-graphic-container">
                <h2>Swear Words</h2>
                <div id="swear_data" class="d-inflex">
                    <div> <%- badWordPlot %></div>
                    <div>
                        <%- include('partials/table', {"table_data": bad_words_counter, txt: "Swear" }) %>
                    </div>
                </div>
            </section>


            
            <!-- Top 100 Most Frequent Words Section -->
            <section class="bar-container analytics-graphic-container">
                <h2>Most Frequent Words</h2>
                <div class="">
                    <%- freqWordPlot %>
                </div>
                <div>
                    <%-  include('partials/tableGrid.ejs', {"table_data": word_counter, txt: "Word" }) %>
                </div>
            </section>

        </main>

        <script>
            let figures = document.querySelectorAll("#word-count-graph")
            for (let i=0; i<figures.length; i++) {
                let rects = figures[i].querySelectorAll("rect")
                let tooltips =  figures[i].querySelectorAll("#word-count-graph [font-family='hacky-selector-text'] text")
                for (let i=0; i < rects.length; i++) {
                    rects[i].addEventListener("mouseenter", (e) => {
                        tooltips[i].classList.add("on")
                        rects[i].classList.add("on")
                    })
                    rects[i].addEventListener("mouseleave", (e) => {
                        tooltips[i].classList.remove("on")
                        rects[i].classList.remove("on")
                    })
                }
            }
        </script>

    </body>
</html>
