<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= channel.displayName %> </title>
        <%- include('partials/head_meta.ejs') %> 
        <link rel="stylesheet" type="text/css" href="/channel.css">
    </head>    
    <body>
        <%- include('navbar/navbar.ejs') %> 
        <%- include('channelHeader.ejs', {"channel": channel, "isShowBack": false}) %>
        <!-- BTEST -->
        <!-- BTEST -->
        <!-- BTEST -->
        <!-- BTEST -->
        <h4> <a href="/"> view all channels </a> </h4>
        <hr/>
        <h3> Transcripts:</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>Title</th>
            </tr>   
            <% 
                for (let vod of vods) {
                    let duration        = vod.duration // 38541
                    let vod_title       = vod.title
                    let id              = vod.id
                    let thumbnail       = vod.thumbnail
                    let streamDate      = vod.streamDate
                    let s3Audio         = vod.s3Audio
                    let href            = path + "/" +  id 
            %>
                <tr>
                    <td><%= epochTo_MM_DD_YYYY(streamDate) %></td>
                    <td class="channel__duration"><%= secondsToHHmm(Number(duration)) %></td>
                    <td> <a href="<%= href %>"> <img class="channel__thumbnail" src="<%= thumbnail %>"/> </a> </td> %>
                    <td><a href="<%= href %>"> <%= vod_title %> </a></td>
                </tr>
             <% } %>
        </table>
    </body>
</html>
