
<div class="channel__heading">
    <div class="d-flex">

        <a class="" href="/channel/<%= channel.nameId %>">
            <img class="profile_main_pic" src="<%= channel.logo %>">
        </a>
        <div class="j-center d-flex f-direction-col">
            <% if (isShowBack == true)  { %> 
            <span><a class="channel__eyebrow btn-ghost" href="/channel/<%= channel.nameId %>"> All vods </a></span>
            <% } %>
            <h1 class=""> <%= channel.displayName %> </h1>
            <span>
                <a class="btn-ghost" href="https://www.twitch.tv/<%= channel.nameId %>" target="_blank" rel="noopener">
                    Twitch 
                <span class="external-link">  </span>
                </a>
            </span>
        </div>
    </div>
</div>