<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- SITE -->
        <%- include('partials/head_metaGPT.ejs') %> 

        <% 
            let meta_title = "Twitch Transcripts"
            let meta_url_this_page = writeCanonicalBase("") 
            let meta_description = `Transcriptions and analytics for the top Twitch.tv channels. View VOD transcriptions or download in VTT, JSON, or TXT formats for closed captioning and more. Explore word frequency statistics and other analytics. Powered by audio to text AI.`
        %>
        
        <link rel="preload" as="image" href="<%= process.env.URL_CANONICAL_BASE %>/heroimgs/a2t_img%20(2).webp">

        <!-- STANDARD -->
        <title> <%= meta_title %> </title>
        <link rel="canonical"    href="<%= meta_url_this_page %>">
        <meta name="description" content="<%= meta_description %>">

        <!-- OPEN GRAPH -->
        <meta property="og:site_name"   content="Twitch">
        <meta property="og:title"       content="<%= meta_title %>">
        <meta property="og:description" content="<%= meta_description %>">
        <meta property="og:image"       content="<%= getOgImageUrl() %>">
        <meta property="og:url"         content="<%= meta_url_this_page %>">
        <meta property="og:type"        content="website">
        <meta property="og:type"        content="article">

        <!-- TWITTER -->
        <% // <meta name="twitter:site" content="@twitch"> %>
        <meta name="twitter:card"        content="summary">
        <meta name="twitter:title"       content="<%= meta_title %> ">
        <meta name="twitter:description" content="<%= meta_description %>">
        <meta name="twitter:image"       content="<%= getOgImageUrl() %>">
        <meta name="twitter:url"         content="<%= meta_url_this_page %>">
        

        <link rel="stylesheet" type="text/css" href="/homepageGPT.css">
        
        <script type="application/ld+json">
            <%- writeHomepageAppLp()  %>
        </script>
    </head>
    <body class="homepage">
        <%- include('navbar/navbarGPT.ejs') %>

        <!-- HERO BANNER -->
        <section class="hero-banner">
            <div class="hero-content">
                <h1 class="hero-extra-paddingX">Twitch Transcripts</h1>
                <p>Timestamp and dialog of the top Twitch.tv VODs. </p>
                <!-- <p>Access AI-powered transcriptions of the top Twitch streamers' VODs</p> -->
            </div>
        </section>
        <div class="homepage__subtext">Not affiliated with Twitch.tv</div>
        <hr/>

        <!-- SEARCH BAR -->
        <%- include('partials/searchbar') %>
        
        <!-- BIG TABLE -->
        <table id="homepage_table">
            <thead> 
                <tr>
                    <th> Channel </th>
                    <th> Language </th>
                    <th> Hours Watched </th>
                    <th> Hours Streamed </th>
                    <th> Max Viewers </th>
                    <th> Average Viewers </th>
                    <th> Followers </th>
                    <!-- <th style="text-wrap: nowrap;"> Broadcasts  |  Total</th> -->
                    <!-- <th style="width: 60px;"> Broadcasts Transcribed</th> -->
                </tr>
                <tr>
                    <th colspan="9" class="table-subheader">Metrics from the <span class="bold_highlight">last two weeks.</span></th>
                </tr>
            </thead>
            <tbody>
            <%
            let isHiatusDividerAdded = false;
            for (let chann of channelsList) { %>  
                <% if (chann.viewMinutes == 0 && !isHiatusDividerAdded) { 
                    isHiatusDividerAdded = true
                %>
                <tr class="table-divider">
                    <th colspan="9"> Channels that did not stream recently: </th>
                </tr>
                <% } %>

                <% let dataChannel = chann.nameId.toLowerCase() == chann.displayName.toLowerCase() ? chann.nameId : `${chann.nameId}_${chann.displayName}` %>
                <tr class="channel_row img" data-channel="<%= dataChannel %>">
                    <td data-labelX class="table_channel_name ">
                        <a class="streamer-name-linkXXX d-inflex" href="<%= "/channel/" + chann.nameId %>">
                            <img class="" src="<%= chann.logo %>" alt="profile picture of <%= chann.displayName %>"/>
                            <h2> <%= chann.displayName %>  </h2>
                            <% // <a href="#" class="view-streamer-btn">View Profile</a> %>
                        </a>
                    </td>
                    <td data-label="Language">        <%= chann.language %> </td>
                    <td data-label="Hours Watched">   <%= localizeNumber((chann.viewMinutes ??  0) / 60) %> </td>
                    <td data-label="Hours Streamed">  <%= localizeNumber((chann.streamedMinutes ?? 0) / 60) %> </td>
                    <td data-label="Max Viewers">     <%= localizeNumber(chann.maxViewers ?? 0) %> </td>
                    <td data-label="Average Viewers"> <%= localizeNumber(chann.avgViewers ?? 0) %> </td>
                    <td data-label="Followers">       <%= localizeNumber(chann.followers ?? 0) %> </td>
                    <% /* <td data-label="Recently Transcribed / Total" class="homepage_special_col"> <div>  <span> [%=] chann.completedCount ?? 0 %] </span> <span class="homepage_col_pipe">-</span>  <span> [%=] chann.totalCompletedCount %] </span> </div> </td>  */ %>
                    <% /* <td data-label="Broadcasts Transcribed">   [%=] // chann.completedCount ?? 0 []  </td> */ %>
                </tr>
            <% } %> 
            </tbody>
        </table>
    </body>
</html>
