<% let title = "Big Dick Captions 😏" %>
<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <%- include('partials/head_meta.ejs') %> 
        <link rel="stylesheet" type="text/css" href="/homepage.css">
    </head>
    <body class="homepage">
        <%- include('navbar/navbar.ejs') %> 
        <h1>Welcome to Big Dick Captions™ 😏🍆💦</h1>
        <hr/>
        <h2> Ordered by popularity (last 14 days) </h2>
        <table>
            <thead> 
                <tr>
                    <th> Channel </th>
                    <th> Language </th>
                    <th> Hours Watched </th>
                    <th> Hours Streamed </th>
                    <th> Max Viewers </th>
                    <th> Average Viewers </th>
                    <th> Followers </th>
                </tr>
            </thead>
            <tbody>
            <% 
            for (let chann of channelsList) {
                let nameId = chann.nameId;
                let logo = chann.logo;
                let lang = chann.language;
                let displayName = chann.displayName;
                let viewMinutes = chann.viewMinutes;     //: 376124160,
                let streamedMinutes = chann.streamedMinutes;     //: 3660,
                let maxViewers = chann.maxViewers;     //: 228099,
                let avgViewers = chann.avgViewers;     //: 102766,
                let followers = chann.followers;     //: 4859054,
                let followersGained = chann.followersGained;     //: 408868,
                let partner = chann.partner;     //: 1,
                let affiliate = chann.affiliate;     //: 0,
                let mature = chann.mature;     //: 0,
                let previousViewMinutes = chann.previousViewMinutes;     //: 228744180,
                let previousStreamedMinutes = chann.previousStreamedMinutes;     //: 2865,
                let previousMaxViewers = chann.previousMaxViewers;     //: 144289,
                let previousAvgViewers = chann.previousAvgViewers;     //: 79840,
                let previousFollowerGain = chann.previousFollowerGain;     //: 228460,
                let daysMeasured = chann.daysMeasured;     //: 14
                %>  
                <tr class="channel_row img">
                    <td class="table_channel_name">
                        <a class="d-flex" href="<%= "channel/" + nameId %>">
                            <img class="" src="<%= chann.logo %>" />
                            <h2> <%= displayName %>  </h2>
                        </a>
                    </td>
                    <td> <%= chann.language %> </td>
                    <td> <%= localizeNumber((chann.viewMinutes ??  0) / 60) %> </td>
                    <td> <%= localizeNumber((chann.streamedMinutes ?? 0) / 60) %> </td>
                    <td> <%= localizeNumber(chann.maxViewers ?? 0) %> </td>
                    <td> <%= localizeNumber(chann.avgViewers ?? 0) %> </td>
                    <td> <%= localizeNumber(chann.followers ?? 0) %> </td>
                    
                    <!-- <td> <%# chann.followersGained %> </td> -->
                    <!-- <td> <%# chann.partner %> </td> -->
                    <!-- <td> <%# chann.affiliate %> </td> -->
                    <!-- <td> <%# chann.mature %> </td> -->
                    <!-- <td> <%# chann.previousViewMinutes %> </td> -->
                    <!-- <td> <%# chann.previousStreamedMinutes %> </td> -->
                    <!-- <td> <%# chann.previousMaxViewers %> </td> -->
                    <!-- <td> <%# chann.previousAvgViewers %> </td> -->
                    <!-- <td> <%# chann.previousFollowerGain %> </td> -->
                    <!-- <td> <%# chann.daysMeasured %> </td> -->
                     

                </tr>
            <% } %> 
            </tbody>
        </table>
    </body>
</html>
