<% let title = "Big Dick Captions 😏" %>
<%- include("../server-scripts/utilities") %>

<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <%- include('partials/head_meta.ejs') %> 
        <link rel="stylesheet" type="text/css" href="/homepageGPT.css">
    </head>
    <body class="homepage">
        <%- include('navbar/navbarGPT.ejs') %> 
        <!-- <h1>Welcome to Big Dick Captions™ 😏🍆💦</h1> -->

        <!-- Hero Banner -->
        <section class="hero-banner">
            <div class="hero-content">
                <h1>Twitch.tv Transcripts</h1>
                <!-- <p>Uncover deep insights and analytics on your favorite streamers. Track performance, viewer engagement, and more—all in one place.</p>
                <p>VOD transcription of the most popular and top twitch streamers. Powered by AI.</p> -->
                <p>Access AI-powered transcriptions of the top Twitch streamers' VODs</p>
                <!-- <a href="#streamer-table" class="cta-button">Explore Streamers</a> -->
            </div>
        </section>
        <hr/>

        
        <table>
            <thead> 
                <tr>
                    <th> Channel </th>
                    <th> Language </th>
                    <th> Hours Watched </th>
                    <th> Hours Streamed </th>
                    <th> Max Viewers </th>
                    <th> Average Viewers </th>
                    <th> Followers </th>
                    <th> Broadcasts </th>
                    <th> Vods Transcribed</th>
                </tr>
                <tr>
                    <th colspan="9" class="table-subheader">Metrics based on data from the <span class="bold-highlight">last two weeks.</span></th>
                </tr>
            </thead>
            <tbody>
            <% 
            for (let chann of channelsList) { %>  
                <tr class="channel_row img">
                    <td data-labelX class="table_channel_name ">
                        <a class="streamer-name-linkXXX d-inflex" href="<%= "channel/" + chann.nameId %>">
                            <img class="" src="<%= chann.logo %>" />
                            <h2> <%= chann.displayName %>  </h2>
                            <% // <a href="#" class="view-streamer-btn">View Profile</a> %>
                        </a>
                    </td>
                    <td data-label="Language">        <%= chann.language %> </td>
                    <td data-label="Hours Watched">   <%= localizeNumber((chann.viewMinutes ??  0) / 60) %> </td>
                    <td data-label="Hours Streamed">  <%= localizeNumber((chann.streamedMinutes ?? 0) / 60) %> </td>
                    <td data-label="Max Viewers">     <%= localizeNumber(chann.maxViewers ?? 0) %> </td>
                    <td data-label="Average Viewers"> <%= localizeNumber(chann.avgViewers ?? 0) %> </td>
                    <td data-label="Followers">       <%= localizeNumber(chann.followers ?? 0) %> </td>
                    <td data-label="Broadcasts">         <%= chann.entryCount ?? 0 %> </td>
                    <td data-label="Vods Transcribed">   <%= chann.completedCount ?? 0 %> </td>
                     <% /*
                        chann.followersGained
                        chann.partner
                        chann.affiliate
                        chann.mature
                        chann.previousViewMinutes
                        chann.previousStreamedMinutes
                        chann.previousMaxViewers
                        chann.previousAvgViewers
                        chann.previousFollowerGain
                        chann.daysMeasured
                    */ %>
                     

                </tr>
            <% } %> 
            </tbody>
        </table>
    </body>
</html>
