<link rel="stylesheet" type="text/css" href="/vodHeading.css">
<div class="vod__heading_container">
    <h1> <%= vod.title %> </h1>
    <div class="vod__colum_gap d-flex">
        <div> <b> <%= epochTo_MM_DD_YYYY(vod.streamDate) %> </b></div>
        <div> <b>Duration: <%= secondsToHHmm(Number(vod.duration)) %> </b></div>
    </div>

    <!-- VOD LINK -->
    <a class="vod_newtab" href="<%= vod.webpageUrl %>" target="_blank">
        <div>  <%= vod.webpageUrl %> </div> 
        
        <span class="external-link medium-svg">  </span>
        
    </a>


    <% if (isShowRaw == true) { %>
    <div class="d-flex vod__info_banner">
        <div> <a class="btn-ghost" href="/channel/<%= channel.nameId %>/<%= vod.id %>/analysis"> 
            <img class="icon-16x16" src="/imgs/stats.svg" style="margin-bottom: 2px;"></img> Transcript stats </a> 
        </div>
        <div> <a class="btn-ghost" href="/channel/<%= channel.nameId %>/<%= vod.id %>/wordtree"> 
            <img class="icon-14x14" src="/imgs/tree6.svg" ></img> Word Tree  </a> 
        </div> 
        <!-- RAW TRANSCRIPTS FILES -->
        <div class=" vod__json_vtt_txt">
            Transcripts
            <img class="icon-16x16" src="/imgs/file2.svg" ></img>:
            <span><a class="btn-ghost" href="<%=  transcript_s3_vtt %>"> vtt </a></span>
            <span><a class="btn-ghost" href="<%=  transcript_s3_json %>"> json </a></span>
            <span><a class="btn-ghost" href="<%=  transcript_s3_txt %>"> txt </a></span>
        </div>
    </div>
    <% } %>

</div>