<%- include("../server-scripts/utilities") %>
<% // https://developers.google.com/chart/interactive/docs/gallery/wordtree %>
<html>
  <head>
    <!-- METADATA -->
    <%- include('partials/head_metaGPT.ejs') %> 
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/wordtree.css">
    <title> <%= channel.displayName %> analysis </title>

    <!-- GOOGLE WORDTREE STUFF -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages:['wordtree']});
        function kickIt(sentence_arr, search_val) {
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable(sentence_arr
                // [ ['Phrases'], ['cats are better than dogs'], ['cats eat kibble'], ['cats are better than hamsters'], ['cats are awesome'], ['cats are people too'], ['cats eat mice'], ['cats meowing'], ['cats in the cradle'], ['cats eat mice'], ['cats in the cradle lyrics'], ['cats eat kibble'], ['cats for adoption'], ['cats are family'], ['cats eat mice'], ['cats are better than kittens'], ['cats are evil'], ['cats are weird'], ['cats eat mice'], ] 
                );
                var options = {
                        colors: ['#1E90FF'],
                        // colors: ['#00796B', '#004D40', '#FF5722'], // Array of colors for different levels
                        // backgroundColor: '#010101',
                        backgroundColor: 'transparent',

                        width: 1500,
                        height: 800,
                        wordtree: {
                            format: 'implicit',
                            type: 'double',
                            word: search_val,
                        }
                };

                var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));

                google.visualization.events.addListener(chart, 'select', selectHandler);

                function selectHandler(e) {
                    let search_click_val = chart.getSelection().word
                    search_history.push(search_click_val)
                    document.querySelector('#search').value = search_click_val
                    document.querySelector('#back').classList.remove("d-none");
                    console.log(search_click_val);
                    console.log(search_history)
                }
                chart.draw(data, options);
            }
        }
    </script>
    <script>
        let search_history = []
        let google_wont_allow_server_side_render = <%- JSON.stringify(sentence_arr) %>;

        function search_handler(event) {
            console.log(event)
            if (event.type === 'keyup' && (event.key !== 'Enter')) {
                event.preventDefault(); 
                console.log('nope')
                return
            }
            event.preventDefault();
            document.querySelector('#back').classList.remove("d-none");
            let search_val = document.querySelector('#search').value 

            kickIt(google_wont_allow_server_side_render, search_val);

            search_history.push(search_val)
            console.log(search_history)
        }


        function back_handler(e) {
            console.log("BACK!")
            e.preventDefault();
            let search_prev_val = search_history.pop()
            if (search_prev_val == document.querySelector('#search').value) {
                search_prev_val = search_history.pop() // pop twice b/c we need to
            }
            console.log("search_prev_val", search_prev_val)
            if (search_prev_val == null) {
                return
            }
            kickIt(google_wont_allow_server_side_render, search_prev_val)
            document.querySelector('#search').value = search_prev_val
            console.log(search_history)
        }


        window.addEventListener('DOMContentLoaded', (e) => {
            document.querySelector('#search').addEventListener("keyup", search_handler);
            document.querySelector('#the_button').onclick = search_handler
            document.querySelector('#the_button').touchend = search_handler

            document.querySelector('#back').onclick = back_handler 
            document.querySelector('#back').touchend = back_handler 
            document.querySelector('#back').keydown = back_handler 
        })

        window.addEventListener('load', (e) => {

            document.querySelector("#search").value = "<%= most_freq_word %>"
            document.querySelector('#the_button').click()
            document.querySelector('#back').classList.add("d-none");
            search_history.push("<%= most_freq_word %>")
        })
    </script>
  </head>


  <body class="wordtree">
    <div class="body-wrap ">
        <%- include('navbar/navbarGPT.ejs') %> 

        <!-- VOD HEADER -->
        <%- include('vodHeaderGPT.ejs', {"vod": vod, "channel": channel, "isBtnBackVod": true, "customClass": "vodheader__style1"}) %>


        <!-- WORD TREE -->
        <section class="search-container">
            <p class="search-label">Search a word...</p>
            <div class="search-box">
                <input id="search" type="text" placeholder="Search a word..." aria-label="Word Tree search" />
                <button id="the_button">Search</button>
                <button id="back" class="d-none">ðŸ¡¨</button> 
                <!-- â† ðŸ¡   -->
            </div>
        </section>
    </div>
    <!-- <div id="wordtree_basic" style="width: 900px; height: 500px;"></div> -->
    <div id="wordtree_basic" style=""></div>
  </body>
</html>
