<%- include("../server-scripts/utilities") %>
<% // https://developers.google.com/chart/interactive/docs/gallery/wordtree %>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
    <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
    <script defer src="/scripts.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages:['wordtree']});
        function kickIt(sentence_arr, search_val) {
            console.log("kicking it")
            google.charts.setOnLoadCallback(drawChart);
            console.log("sentence_arr")
            console.log(sentence_arr)

            function drawChart() {
                console.log("drawing")
                var data = google.visualization.arrayToDataTable(sentence_arr
                // [ ['Phrases'], ['cats are better than dogs'], ['cats eat kibble'], ['cats are better than hamsters'], ['cats are awesome'], ['cats are people too'], ['cats eat mice'], ['cats meowing'], ['cats in the cradle'], ['cats eat mice'], ['cats in the cradle lyrics'], ['cats eat kibble'], ['cats for adoption'], ['cats are family'], ['cats eat mice'], ['cats are better than kittens'], ['cats are evil'], ['cats are weird'], ['cats eat mice'], ] 
                );
                console.log("data")
                console.log(data)
                var options = {
                        // colors: ['red', 'black', 'green'],
                        backgroundColor: 'grey',
                        width: 1500,
                        height: 800,
                        wordtree: {
                            format: 'implicit',
                            type: 'double',
                            word: search_val,
                        }
                };

                var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));

                google.visualization.events.addListener(chart, 'select', selectHandler);

                function selectHandler(e) {
                    let search_click_val = chart.getSelection().word
                    search_history.push(search_click_val)
                    document.querySelector('#search').value = search_click_val
                    console.log(search_click_val);
                    console.log(search_history)
                }
                chart.draw(data, options);
            }
        }
    </script>
  </head>
  <body>
    <form>
        <div class="d-flex">
            <img class="profile_main_pic" src="<%= profilePic %>">
            <h1 class="align-self-center"> Word Tree search </h1>
        </div>
        <h2> <a href="/channel/<%= channel %>/<%= vod.id %>"><%= vod2.display_title %> </a> </h2>
        <h2><a href="/channel/<%= channel %>"> <%= channel %> </a></h2>
        <div> <b> <%= epochTo_MM_DD_YYYY(vod2.epoch) %> </b></div>
        <div> <b>Duration: <%= secondsToHHMM(Number(vod2.duration)) %> </b></div>
        <br/>
        <div>
            <% console.log(vod2) %>
            <!-- <label for="search"> Word Tree search </label> -->
            <input id="search"  type="text" placeholder="loser" aria-label="Word Tree search "/>
        </div>
        <button id="the_button"> Search </button>
        <button id="back" class="d-none"> ðŸ¡¨ </button> <!-- â† ðŸ¡   -->
    </form>
    <script>
        function renderBackBtn() {

        }
        let search_history = []
        let google_wont_allow_server_side_render = <%- JSON.stringify(sentence_arr) %>;
        document.querySelector('#the_button').onclick = function(e) {
            // console.log(google_wont_allow_server_side_render)
            e.preventDefault();
            document.querySelector('#back').classList.remove("d-none");
            let search_val = document.querySelector('#search').value 

            kickIt(google_wont_allow_server_side_render, search_val);

            search_history.push(search_val)

            console.log(search_history)
        };
        document.querySelector('#back').onclick = function(e) {
            e.preventDefault();
            let search_prev_val = search_history.pop()
            if (search_prev_val == null) {
                return
            }
            kickIt(google_wont_allow_server_side_render, search_prev_val)
            document.querySelector('#search').value = search_prev_val
            console.log(search_history)

        }
    </script>
    <div id="wordtree_basic" style="width: 900px; height: 500px;"></div>
  </body>
</html>
